<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <%- include('common/header') %>
    <h1><u>Profile Page</u></h1>
    <h3>Name: <%= data.name %></h3>
    <h3>Email: <%= data.email %></h3>
    <ul>
        <% data.skills.forEach((item)=>{ %>
            <li><%= item %></li>
        <% }) %>
    </ul>
    <%- include('common/footer') %>

</body>
</html>